
@model TeacherCard

@{
    ViewData["Title"] = "Delete";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-4 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 style="color:blue">Delete card</h2>

                        <h4 class="card-title"><img src="~/img/teacher/@Model.Image" style="width:300px; height:220px" /></h4>

                        <ul class="list-star">
                            <li><span style="color:blue">Fullname:</span>  @Model.Name</li>
                            <li><span style="color:blue">Position:</span>  @Model.Position</li>
                            <li><span style="color:blue">Sosial Media:</span>  @Model.Facebook</li>
                            <li><span style="color:blue">Sosial Media:</span>  @Model.Vimeo</li>
                            <li><span style="color:blue">Sosial Media:</span>  @Model.Pinterest</li>
                            <li><span style="color:blue">Sosial Media:</span>  @Model.Twitter</li>

                        </ul>

                        <form method="post"><button class="btn btn-danger mb-2"onclick="return confirm('Are you sure?');">Delete</button></form>

                        <a class="btn btn-primary"  asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


