@model TeacherVM
@{
    ViewData["Title"] = "Index";
}
@section BgImage {

    @foreach (var banner in Model.TeacherBanners)
    {
        <style>


            .banner-area {
                background: url('../img/banner/@banner.Image') !important;
        </style>
    }
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            @foreach (var item in Model.TeacherBanners)
                            {
                                <h2>@item.Topic</h2>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.TeacherCards)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a asp-action="Detail" asp-controller="Teacher" asp-route-id="@item.Id"><img src="~/img/teacher/@item.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a asp-action="Detail" asp-controller="Teacher" asp-route-id="@item.Id">@item.Name</a></h2>
                            <h4>@item.Position</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/devitems/?ref=bookmarks">@Html.Raw(item.Facebook)</a></li>
                                <li><a href="https://www.pinterest.com/devitemsllc/">@Html.Raw(item.Pinterest)</a></li>
                                <li><a href="#">@Html.Raw(item.Vimeo)</a></li>
                                <li><a href="https://twitter.com/devitemsllc">@Html.Raw(item.Twitter)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>
<!-- Teacher End -->
