@model EventVM
@{
    ViewData["Title"] = "Index";
}
@section BgImage {

    @foreach (var banner in Model.EventBanners)
    {
        <style>


            .banner-area {
                background: url('../img/banner/@banner.Image') !important;
        </style>
    }
}
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            @foreach (var item in Model.EventBanners)
                            {
                                <h2>@item.Topic</h2>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.EventCards)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-action="Detail" asp-controller="Event" asp-route-id="@item.Id">
                                <img src="~/img/event/@item.Image" alt="event">
                                <div class="course-hover">
                                   @Html.Raw(item.Link)
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.Date <span>@item.Month</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-start">
                            <h4><a href="event-details.html">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @item.Time</li>
                                <li><span>venue</span> @item.Month</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="Detail" asp-controller="Event" asp-route-id="@item.Id">@item.Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>
<!-- Event End -->
